/* Hero section styles */
.hero-section {
    background-image: url(/images/work/img_2449.jpg);
    filter: brightness(60%);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > .bottom-heading {
    background-color: #ddc7c7;
    color: #000000;
    padding: 15px 20px;
    margin-top: 250px;
    width: 107px;
    border-radius: 2px;
    text-align: center;
    border-radius: 5px;
}

.hero-section > .bottom-heading a {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #000000;
    text-decoration: none;
    transition: 0.5s;
}

.hero-section > .bottom-heading a:hover {
    color: #4c1617;
    letter-spacing: 2px;
}

/* Features section styles */
.features-section {
    height: 400px;
    background-color: #000000;
    border-top: 10px solid #4c1617;
    border-bottom: 10px solid #4c1617;
    color: #858585;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu Condensed", sans-serif;
}

.features-section > .columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.features-section > .columns-wrapper > .column {
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.features-section > .columns-wrapper > .column:hover {
    border-bottom: 5px solid #bdb76b;
}

.features-section > .columns-wrapper > .column :nth-child(1) {
    font-size: 3em;
}

.features-section > .columns-wrapper > .column :nth-child(2) {
    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}

.features-section > .columns-wrapper > .column :nth-child(2):hover {
    letter-spacing: 1px;
}

.features-section > .columns-wrapper > .column :nth-child(3) {
    letter-spacing: 2px;
}
