@media (max-width: 615px) {
    .navigation-wrapper {
        flex-direction: column;
        height: 100%;
    }

    .navigation-wrapper > .left-column {
        order: 2;
    }

    .navigation-wrapper > .center-column {
        order: 1;
        width: 100%;
    }

    .links-wrapper {
        flex-direction: column;
    }

    .links-wrapper > .nav-link {
        margin-top: 10px;
        font-size: 1.5em;
        width: 100%;
    }
    .hero-section {
        flex-direction: column;
    }

    .hero-section > .bottom-heading {
        color: #000000;
        margin-top: 100px;
        font-size: 1.5em;
        background-color: #ddc7c7;
        padding: 15px 20px;
        text-align: center;
        border-radius: 5px;

    }
    .hero-section > .bottom-heading a {
        font-family: "Ubuntu Condensed", sans-serif;
        color: #000000;
        text-decoration: none;
        transition: 0.5s;   
    }
    .hero-section > .bottom-heading a:hover {
        color: #4c1617;
        letter-spacing: 2px;
    }

    .features-section {
        height: 100%;
    }

    .features-section > .columns-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .footer {
        height: 100%;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        flex-direction: column;
    }

    .skewed-header > .header-bg {
        background-size: 550px;
    }

    .page-container {
        padding-left: 21px;
        padding-right: 21px;
    }

    .content-wrapper > #chef {
        margin: 0px 0px 25px 0px !important;
        width: 100% !important;
    }

    .square {
        grid-template-columns: 1fr !important;
    }

    .square > .square-text-wrapper {
        order: 1;
    }

    .square > .img-wrapper {
        order: 2;
    }

    .contact-grid-wrapper {
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .map {
        background-color: black;
        height: 450px;
        width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .map > .iframe {
        height: 435px;
    }

    .contact-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .contact-info h2 {
        font-size: 3rem;
        text-align: left;
        font-family: Chairdrobe, "sans-serif";
        font-weight: 900;
        color: #2e0303
    }
    .squares-wrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.square > .square-text-wrapper h1 {
    color: #858585;
}
.square > .square-text-wrapper p {
    color: #858585;
}

.squares-wrapper2 > .squares2 > .square2 {
    display: flex;
    justify-content: left;
    margin-bottom: 50px;
}

.square2 > .square-text-wrapper2 {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 42px;
    height: 100px;
}
.squares-wrapper2 > .img-wrapper2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    margin-left: 50px;
    margin-right: 50px;
}
.squares-wrapper2 > .img-wrapper2 img {
    margin-bottom: 50px;
}
    
    
}
